.Nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 1.5em 0 1.5em;
    margin: 0 3em 0 3em;
    border-bottom: hsl(223, 64%, 98%) 1px groove;
}

.menu {
    display: none;
}

.left {
    padding-left: 1em;
    display: flex;
    justify-content: space-between;
    a {
        padding: 0 2em 1.1em 2em;
        text-decoration: none;
        position: relative;
        color: hsl(219, 9%, 45%);
        &:hover {
            font-weight: 500;
            color: hsl(220, 13%, 13%);
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: hsl(26, 100%, 55%);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

.right {
    display: flex;
}

svg:hover path {
    fill: hsl(220, 13%, 13%);
}

.avatar {
    max-width: 30%;
    &:hover {
        border: 3px groove hsl(26, 100%, 55%);
        border-radius: 50%;
        transition: 0.1s ease;
    }
}

@media screen and(max-width:768px) {
    .Nav {
        text-align: left;
        margin: 0;
        border: none;
        // height: 100%;
        // position: fixed;
        // z-index: 1;
        // top: 0;
        // left: 0;
        // bottom: 0;
        // width: 40%;
        // background-color: white;
        // transition: 0.5s;
        .first {
            display: flex;
        }
        .menu {
            display: block;
            margin: 0 2em 2em 0;
        }
        .left {
            display: block;
            a {
                display: block;
                color: hsl(220, 13%, 13%);
                font-weight: 700;
                padding-left: 0;
                transition: 0.3s;
            }
        }
    }
    .links {
        display: none;
    }
    .showMenu {
        display: block;
    }
    .hide {
        display: none;
    }
    .right div {
        padding-left: 2em;
    }
}

@media only screen and (min-width:769px) and(max-width:1000px) {
    .Nav {
        margin: 0;
        a {
            padding: 0 1em 1.1em 1em;
        }
    }
}